* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

header {
    background-image: url(images/north-block-california-01-CALIRESORTSWB19.jpg);
    margin: 0 auto;
    max-width: 1100px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -250px;
    color: whitesmoke;
    padding-left: 30px;
    font-size: 1.5rem;
}

header h1 {
    padding-bottom: 20px;
    padding-top:  30px;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 30px;
}

main h2 {
    color: orangered;
    padding-bottom: 10px;
}

main h3 {
    color: brown;
}

.hotels {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    max-width: 700px;
    background-color: lightcoral;
    padding: 10px;
}

.p p {
    border: solid 1px blue;
    border-radius: 3rem;
    padding: 12px;
    max-width: 210px;
    background-color: lightblue;
    margin: 8px;
}

#picture {
    max-width: 70%;
    max-height: 30%;
}

footer {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}