body {
    margin: 0px;
    padding: 0px;
    font-family: 'Cormorant Garamond', serif;
}

header {
    background-image: url(images/11685109.jpg);
    background-repeat: no-repeat;
    background-position-y: -60px;
    max-width: 980px;
    height: 300px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 20px;
    color: white;
}

main {
    margin: 0 auto;
    max-width: 980px;
}

#mainStuff {
    display: flex;
    flex-direction: column;
}

#flexAll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


aside {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    margin-top: 80px;
}

#displayResults {
    background-color: lightgreen;
    padding-right: 140px;
    padding: 10px;
}
#displayResults span {
    color: red;
}

#error {
    background-color: yellow;
    padding-right: 140px;
    padding: 10px;

}

footer {
    margin: 0 auto;
    max-width: 980px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    background-color: lightgreen;
    margin-top: 20px;
    margin-left: 140px;
}

footer h3 {
    margin: 0 auto;
}