html {
    padding: 0;
    margin: 0;

}

header {
    background-image: url(images/vcfvghbj.png);
    background-repeat: no-repeat;
    background-size: 980px;
    background-position-y: -30px;
    max-width: 980px;
    height: 300px;
    margin: 0 auto;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}

main {
    max-width: 980px;
    margin: 0 auto;

}

footer {
    max-width: 980px;
    padding: 0px;
    background-color: brown;
    margin: 0 auto;
    text-align: center;
    color: white;
    border-radius: 3rem;
}